/* Links */
a {
  text-decoration: none;
}

html {
  scroll-padding-top: 8rem; /** https://tetralogical.com/blog/2023/06/08/focus-in-view/ **/
}

/* Reset */
body {
  margin: 0;
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
}

/* Page Transition Animation */
#page-content {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
#page-content.page-is-transitioning {
  opacity: 0;
}
